server {
    listen 80;
    server_name cmodelsmanagement.com www.cmodelsmanagement.com;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name cmodelsmanagement.com www.cmodelsmanagement.com;

    root /home/ubuntu/cmm/cmm/public;
    index index.php index.html index.htm;

    ssl_certificate /etc/letsencrypt/live/cmodelsmanagement.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/cmodelsmanagement.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.3-fpm.sock; # Ajusta la versión si usas otra
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    # Archivos estáticos
    location ~* \.(jpg|jpeg|png|gif|ico|css|js|svg)$ {
        expires 30d;
        access_log off;
    }
}